<div class="h-card">
  <a class="p-name u-url" href="<%- blog.url %>">
    <%- blog.user.display_name || blog.user.username %>
  </a>
  <img class="u-photo" src="<%- blog.user.avatar || blog.user.gravatar %>" alt="" width="96" height="96">
  <p class="p-note">
    <%- blog.user.note %>
  </p>
</div>