body {
  color: #666;
}
header {
  background: var(--nc-bg-1);
  border: 0;
  margin-bottom: 0;
} 

header a {
  color: #333;
  text-decoration: none;
  color: #888;
  margin-right: 1em;  
} 

@media only screen and (min-width: 600px) {
  header .avatar {
    margin-right: 15px;
    float: left;
  }
}

header .avatar img {
  object-fit: contain;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.separator {
  display: block;
  margin: 42px 0 48px 0;
  width: 100%;
}

span.divider {
  display: block;
  width: 100%;
  background-color: #ddd;
  height: 1px;
  margin: 0 auto;
}

.dt-published {
  font-size: 0.8em;
  color: #aaa;
}

.post-single .dt-published {
  display: block;
}

.post-single .h-content {
  margin-top: 2rem;
}

footer {
  text-align: center;
}

.title {
  text-decoration: none;
}

.next {
  width: 100%;
  text-align: right;
  margin-bottom: 2rem;
}

h2.p-name {
  border: 0;
}

h2.p-name a {
  color: #333;
  text-decoration: none;
}

h1 {
  font-weight: normal;
}


/* Post */

.post-single .p-name {
  text-align: center;
}

.post-single .u-url {
  text-align: center;
  text-decoration: none;
}

.post a {
  color: #333;
  text-decoration: underline;
  font-size: 1.1em;
}

.u-url {
  text-decoration: none;
  text-transform: uppercase;
}

.tags {
  margin-bottom: 1rem;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    color: #eee;
  }
  span.divider {
    background-color: #333;
  }
  h2.p-name a {
    color: #bcbcbc;    
  }
}


/* Utility */

.u-hidden {
  display: none;
}

.u-clear {
  clear: both;
}